@{
    ViewData["Title"] = "Home Page";
   
}

<div class="text-center">
    <h1 class="display-4">Welcome Pilot! 🚁 ✈️ 🛩️ </h1>
    <!-- <p>Ready to Land here <a href="./landing.cshtml">Landing Page</a>.</p> -->
    <p> Please Open the Menu / Weiter mit Menü!</p>
   
</div>
<script>

  

</script>
